body {

    background-image: url("https://www.freegreatpicture.com/files/147/4706-background-color.jpg"); 
    background-size: cover;
  }
  h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  }
  
.jumbotron{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;


}
#newburger {
    border-radius: 10px;
}

#color-override {
    color: rgb(116, 19, 19);
    text-align: center;

}
#color-override2 {
    color:white;
    text-align: center;

}
#color-override1 {
    color: black;
    text-align: center;
    font-weight: 600;
    size: 1px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 3em;
    padding-top: 2px;

}

#lefthead {
    background-color: #f0ad4e;
    color:  white;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color:  #b6b19b;  
    color: white;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
}
#formsub{
    text-justify: inter-cluster;
}
.create-form{
    padding-left: 280px;
}
.panel{
    border-radius: 20px;
}
.burgerimage{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.burgerimage img{ 
    border-radius: 20px;
    transition: transform .2s;
   margin-left: 50px;
}

.burgerimage img:hover{ 
    transform: scale(2);
}

@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
  /* Keyframe for text animation */
  .sign {
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 3em;
    color: #b37b15;
    text-shadow: 0 0 0.3rem #ffe6ff, 0 0 1.5rem black,
      -0.2rem 0.1rem 1rem black, 0.2rem 0.1rem 1rem black,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #152410;
      text-shadow: 0 0 0.3rem #c4c711, 0 0 1.5rem black,
        -0.2rem 0.1rem 1rem black, 0.2rem 0.1rem 1rem black,
        0 -0.5rem 2rem black, 0 0.5rem 3rem black;
    }
    28%,
    33% {
      color: black;
      text-shadow: none;
    }
    82%,
    97% {
      color: black;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: black;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem black,
        -0.2rem 0.1rem 1rem black, 0.2rem 0.1rem 1rem black,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }

  .burgerimage img {
    
        background-color: red;
        animation-name: stretch;
        animation-duration: 3s; 
        animation-timing-function: ease-out; 
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
      }
      
      @keyframes stretch {
        0% {
          transform: scale(.3);
          background-color: red;
          border-radius: 100%;
        }
        50% {
          background-color: orange;
        }
        100% {
          transform: scale(1.5);
          background-color: yellow;
        }
      }
  