


.card{
    background-color: rgb(211, 164, 35);
   margin: 5px 0 20px 0;
   border-radius: 23px;
   height: 300px;
   padding: 20px;
   

}
#newburger {
    border-radius: 10px;
}

#color-override {
    color: rgb(116, 19, 19);
    text-align: center;

}
#color-override1 {
    color: black;
    text-align: center;
    font-weight: 600;
    size: 1px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 3em;
    padding-top: 2px;

}

#lefthead {
    background-color: #b6b19b;
    color:  white;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: #f0ad4e;
    color: white;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
}
#formsub{
    text-justify: inter-cluster;
}
.create-form{
    padding-left: 280px;
}
.panel{
    border-radius: 20px;
}